[data-menu="button"] {
  display: none;
}
@media (max-width: 700px) {
  .js [data-menu="button"] {
    position: relative;
    z-index: 300;
    display: flex;
    background: #222;
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    gap: 4px;
  }
  .js [data-menu="button"].ativo::before {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }
  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
  }
  .js #menu {
    display: none;
    position: absolute;
    background: #fb5;
    max-width: 250px;
    z-index: 200;
    padding: 60px 40px 20px 10px;
    top: 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .js #menu.ativo {
    display: block;
    animation: showRight 0.3s forwards;
  }
  .menu li {
    margin: 0;
  }
  .menu a {
    padding: 12px;
  }
  .js .dropdown-menu {
    position: static;
    width: 100%;
  }
}
